{% extends "layout.html" %}

{% block head %}
    <title>Portfolio - Leonardo Brizolla</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards" id="DiXbJL3iWVs">
        <div class="card">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/DiXbJL3iWVs/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Espaçamentos e a mágica do CSS Box Model | Masterclass #10</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">57min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="C8TrGTgvLkc">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/C8TrGTgvLkc/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Cache de imagens e regulamento no App do RS/XP</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">1h</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="X2RKRKdqqwM">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/X2RKRKdqqwM/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Folder structure for ReactJS/React Native</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">15min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="rAzHvYnQ8DY">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Array: Higher Order Functions - Rocketseat</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">57min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="c7P03kkrEG8">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/c7P03kkrEG8/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Configurando VSCode para Node.js, ReactJS e React Native</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">22min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="DDm0M_rZLJo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/DDm0M_rZLJo/maxresdefault.jpg" alt="Video Aula">
            </div>
    
            <div class="card__content">
                <p>Clonando interface do Nubank (+ ANIMAÇÕES) com React Native</p>
            </div>
    
            <div class="card__info">
                <p class="card__time">55min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <!-- Video aqui -->
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}
